.content-about-image:hover .content-image {
    transform: scale(1.2);
}

.big-image {
    height: 260px;
}

.width-47 {
    width: 47%;
}

.width-33 {
    width: 32%;
}

.big-font-size {
    font-size: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.margin-left-bottom-12 {
    margin: 0 0 12px 12px;
}

.margin-left-12 {
    margin-left: 12px;
}

.img-height-180 {
    height: 180px;
}

.padding-bot-12 {
    padding-bottom: 12px;
}